generator client {
  provider = "prisma-client-js"
  output   = "../prisma/generated/client"
}

generator gqloom {
  provider = "prisma-gqloom"
  output   = "../prisma/generated/gqloom"
}

datasource db {
  provider = "postgresql"
  url      = env("DATABASE_URL")
}
