generator client {
  provider = "prisma-client"
  output   = "../prisma/generated/client"
}

generator gqloom {
  provider = "prisma-gqloom"
  output   = "../prisma/generated/gqloom"
}

datasource db {
  provider = "mysql"
}
